.avatar{
	width: 150px;
	height: 150px;
	border-radius: 50%;
}

.avatar2{
	width: 150px;
	height: 150px;
	border-radius: 200px;
}

.avatar3{
	width: 150px;
	height: 150px;
	border-radius: 50%;
}

.avatar4{
	width: 150px;
	height: 150px;
	border-radius: 50%;
}